body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    border-bottom: 1px solid #eee;

    @media (max-width: 650px) {
        flex-direction: column;
        align-items: center;
    }
}
.item {
    padding: 18px 28px;
    cursor: pointer;
    transition: color .3s ease-out;
    text-decoration: none;
    color: #111;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 20px;
    margin: 5px 0;
}

.active {
    color: #9c27b0;
    font-weight: bold;
}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
}
.loading {
	position: fixed;
	display: flex;
	background: rgba(0, 0, 0, 0.7);
	z-index: 100;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}
